<section class="sidebar">
    <h3>Filtros</h3>
  <div class="form-check">
    <input class="form-check-input" type="radio" name ="selector" value="sector" id="sector" [(ngModel)]="radioChecked" (change)="handleRadioChange()">
    <label class="form-check-label" for="sector">
      Sector:
    </label>
    <select [disabled]="radioChecked !== 'sector'"
    id="sectores" 
    [(ngModel)]="opcionSeleccionada1"
    class="form-select" aria-label="Default select example first-color">
      <option selected>Seleccione sector</option>
       <option  *ngFor="let sector of sectores" [value]="sector.id_sector">{{sector.desc_sector}}</option>
    </select>


  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name ="selector" value="repositor" id="repositor" [(ngModel)]="radioChecked" (change)="handleRadioChange()">
    <label class="form-check-label" for="repositor">
      Repositor:
    </label>
    <select [disabled]="radioChecked !== 'repositor'" 
    id="repositores" 
    [(ngModel)]="opcionSeleccionada2"
    class="form-select" aria-label="Default select example">
      <option selected>Seleccione repositor</option>
      <option  *ngFor="let repositor of repositores" [value]="repositor.id_repositor">{{repositor.nombre}}</option>
    </select>
  </div>
  <div class="buttons">
      <button type="button" class="btn btn-outline-light" (click)="emitSearch()">Buscar</button>
      <button type="button" class="btn btn-outline-light">Cancelar</button>
  </div>
  </section>

