/* You can add global styles to this file, and also import other style files */
body{
    background-color: var(--color-four);
}

:root {

    --color-one:#005187;
    --color-two:#4d82bc;
    --color-three:#84b6f4;
    --color-four:#c4dafa;
    --color-five:#fcffff;

}



